{% extends "base.html" %}

{% block content %}
    <form action="/" method="POST">
    {{ form.hidden_tag() }}
    <div class="input-group"><!-- Обертка для формы -->
        <div class="col-sm-10 my-1"> <!-- форма занимает 10 колонок и имеет внешние отступы -->
            <input type="text" name="price" class="form-control" value="{{ song.price }}">
        </div>
        <div class="col-sm-2 my-1"> <!-- кнопка занимает 2 колонки -->
            <button type="submit" class="btn btn-warning btn-block">Update</button>
        </div>
    </div>
</form>
{% endblock %}