.author-card {
    width: 40%;
    border: 0.5px solid dimgray;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
    margin: 1em;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.band-card {
    width: 30%;
    margin: 1em auto;
}

.card-img-top {
    max-width: 300px;
}