{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Orders</h1>
    <div class="text-center form-text">Getting information about orders</div>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>Date</th>
            <th>Customer's name</th>
            <th>Song name</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        {% for order in data %}
            <tr>
                <td><b>{{ order[0].strftime('%H:%M, %d.%m.%Y') }}</b></td>
                <td>{{ order[1] }}</td>
                <td><b>{{ order[2] }}</b></td>
                <td>${{ order[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}