{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Songs</h1>
    <div class="text-center form-text">SELECT songs.id, songs.name, bands.name, albums.name, songs.price<br>
    FROM songs<br>
    INNER JOIN bands ON songs.band_id = bands.id<br>
    INNER JOIN albums ON songs.album_id = albums.id;</div>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th>Band</th>
            <th>Album</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>
        {% for song in data %}
            <tr>
                <td><b>{{ song[1] }}</b></td>
                <td>{{ song[2] }}</td>
                <td><b>{{ song[3] }}</b></td>
                <td>${{ song[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}